.text {
  font-weight: bolder;
  font-size: larger;
  border-bottom: 1px solid black;
  margin-left: 3px;
  margin-right: 3px;
}
.box {
  font-weight: bolder;
  font-size: larger;
}
.cartImage {
  max-height: fit-content;
  max-width: fit-content;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
.span {
  text-align: center;
  color: red;
  font-size: small;
  margin-bottom: 3px;
}
