.cart {
  text-align: right;
  position: fixed;
  right: 3%;
  top: -0.1%;
}
.ul {
  text-decoration: none;
  color: white;
}

.ul.active {
  color: white;
  border: 1px solid slateblue;
  background-color: brown;
  padding: 5px;
  zoom: 110%;
}
